image: java:8-jdk

language: java
jdk:
  - oraclejdk8
  - openjdk8

stages:
  - build
  - test
  - deploy

before_script:
#  - echo `pwd` # debug
#  - echo "$CI_BUILD_NAME, $CI_BUILD_REF_NAME $CI_BUILD_STAGE" # debug
  - chmod +x gradlew

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew assemble
    - ./gradlew allJar
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 week
  only:
    - develop, feature/CHK-013-GitLab-CI-CD

test:
  stage: test
  script:
    - ./gradlew check

deploy:
  stage: deploy
  script:
    - ./deploy

after_script:
  - echo "End CI"